<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PDFtoolKit{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow-lg">
        <div class="container mx-auto flex justify-between items-center py-4">
            <div>
                <img src="{{ url_for('static', filename='logo.png') }}" alt="PDFtoolKit Logo" class="h-10">
                <span class="ml-2 text-xl font-bold text-gray-800">PDF-ToolKit</span>
                <span class="text-gray-500 text-sm ml-2"> - Your Ultimate PDF Solution</span>
            </div>
            <nav>
                <ul class="flex">
                    <li><a href="{{ url_for('index') }}" class="px-4 py-2 text-gray-800 hover:bg-gray-300">Home</a></li>
                    <li><a href="{{ url_for('about') }}" class="px-4 py-2 text-gray-800 hover:bg-gray-300">About Developer</a></li>
                </ul>
            </nav>
        </div>
    </header>



    <main class="container mx-auto p-8">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-gray-800 text-white text-center py-4">
        Developed by Adarsh
    </footer>
</body>
</html>
